<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" 
	xmlns="http://java.sun.com/xml/ns/j2ee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
	http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
  <servlet>
    <servlet-name>ConsumerServlet</servlet-name>
    <servlet-class>com.servlet.ConsumerServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PhotoSerlvet</servlet-name>
    <servlet-class>com.servlet.PhotoSerlvet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ArticleServlet</servlet-name>
    <servlet-class>com.servlet.ArticleServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RestoreServlet</servlet-name>
    <servlet-class>com.servlet.RestoreServlet</servlet-class>
  </servlet>
  <servlet>
		<servlet-name>ClientLogin</servlet-name>
		<servlet-class>com.servlet.ClientLogin</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Chatting</servlet-name>
		<servlet-class>com.servlet.ClientChatting</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GetClients</servlet-name>
		<servlet-class>com.servlet.GetClients</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ServiceChat</servlet-name>
		<servlet-class>com.servlet.ServiceChat</servlet-class>
	</servlet>
  <servlet>
    <servlet-name>SetFlag</servlet-name>
    <servlet-class>com.servlet.SetFlag</servlet-class>
  </servlet>
	<error-page> 
        <error-code>500</error-code> 
        <location>/error.jsp</location> 
  </error-page>


  <servlet-mapping>
    <servlet-name>ConsumerServlet</servlet-name>
    <url-pattern>/ConsumerServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PhotoSerlvet</servlet-name>
    <url-pattern>/PhotoSerlvet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ArticleServlet</servlet-name>
    <url-pattern>/ArticleServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RestoreServlet</servlet-name>
    <url-pattern>/RestoreServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
		<servlet-name>ClientLogin</servlet-name>
		<url-pattern>/clientLogin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Chatting</servlet-name>
		<url-pattern>/chat</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetClients</servlet-name>
		<url-pattern>/getClients</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServiceChat</servlet-name>
		<url-pattern>/serviceChat</url-pattern>
	</servlet-mapping>
  <servlet-mapping>
    <servlet-name>SetFlag</servlet-name>
    <url-pattern>/setFlag</url-pattern>
  </servlet-mapping>
  
  <welcome-file-list>
        <welcome-file>xp.html</welcome-file>
        <welcome-file>login.jsp</welcome-file>
        <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
